<div class="sidebar_title">
  <h2>{{localize 'PF2E.SavesHeader'}}</h2>
</div>
<ul class="sidebar-saves">
  {{#each data.saves as |save sid|}}
  <li class="roll-data" data-save="{{sid}}">

    <h2 class="save-label">{{localize save.label}}</h2>

    <div class="save-roll" title="{{localize save.label}}">
      {{#if ../owner}}
      <a class="roll-icon save-name">
        {{> systems/pf2e/templates/actors/crb-style/icons/d20.html}}
      </a>
      {{/if}}
      <input name="data.saves.{{sid}}.value" type="number" value="{{save.value}}" data-dtype="Number" placeholder="0" />
    </div>
  </li>
  {{/each}}
</ul>
