#compendium-browser, #license-viewer {
    > section.window-content > .content-box {
        @import 'nav';
        @import 'settings';
        @import 'tab';

        flex: 1;
        overflow: hidden;
        height: inherit;

        > section.content {
            height: 92%;

            > .tab.browser.active {
                height: inherit;

                > div {
                    display: grid;
                    grid-template-columns: 320px auto;

                    .control-area {
                        grid-column-start: 1;
                    }
                    ul {
                        grid-column-start: 2;
                    }
                }
            }
        }
    }
}
