@font-face {
    font-family: "Pathfinder2eActions";
    src: url('../fonts/Pathfinder2eActions.ttf');
}

:root {
    --primary-background:#454a7c;
    --secondary-background:gray;
    --tertiary-background:#454a7c;
    --alternate-background:darkgray;
}

/* Flexbox */
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    > * {
        flex: 1;
    }
}

.flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    > * {
        flex: 1;
    }
}

.tab[data-tab].active {
    display: initial;
}

/* Damage Tags */

/* ----------------------------------------- */
/* Sheet Structure                           */
/* ----------------------------------------- */

.window-app .window-content {
    background: url("../assets/sheet/parchment.webp") repeat;
}

.pf2e {
    &.sheet {
        .window-content {
            padding: 5px;
            font-size: 13px;
            overflow-y: hidden;
        }

        .sheet-header {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex: 0 0 100%;
            height: 48px;

            > * {
                flex: 1;
            }

            h1 {
                margin: 0;
                border: none;

                > input {
                    @include serif-condensed;
                    height: 40px;
                    width: 100%;
                    margin: 2px;
                    color: #444;
                    font-size: 36px;
                    border: none;
                }
            }
        }

        .sheet-body {
            height: calc(100% - 35px);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        form {
            width: 100%;
            height: 100%;
            overflow: hidden;

            /* Form Elements */
            /* Select Fields */
            /* Sheet Tabs */
            /* Tags */

            input {
                &[type="text"], &[type="number"] {
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    background: none;
                    padding: 0;
                    margin: 1px 0;
                    color: #333;
                    border: 1px solid transparent;

                    &:hover, &:focus {
                        border: 1px solid black;
                        box-shadow: 0 0 10px #00005a;
                    }
                }
            }

            select {
                font-size: 10px;
                height: 18px;
                background: rgba(255, 255, 255, 0.5);
            }

            input:disabled, select:disabled, textarea:disabled {
                color: #444;
                border: none;
            }

            input:disabled:hover, select:disabled:hover, textarea:disabled:hover, input:disabled:focus, select:disabled:focus, textarea:disabled:focus {
                border: none;
                box-shadow: none;
            }

            label {
                display: block;
            }

            .mce-panel span {
                display: inherit;
            }

            &.editable .rollable:hover {
                color: #000;
                text-shadow: 0 0 10px #00005a;
                cursor: pointer;
            }

            .sheet-tabs {
                height: 30px;

                > .list-row {
                    line-height: 24px;
                    padding-top: 3px;
                    font-size: 12px;
                    text-align: center;

                    &:last-of-type {
                        padding-right: 4px;
                    }

                    &.active {
                        color: #000;
                        font-weight: 700;
                    }
                }
            }

            .tab {
                flex: 1;
                overflow: hidden;
            }

            .tag-legacy {
                float: left;
                margin: 0 2px 2px 0;
                padding: 0 3px;
                font-size: 10px;
                line-height: 16px;
                border: 1px solid #999;
                border-radius: 3px;
                white-space: nowrap;
                font-weight: 500;
            }
        }
    }

    &.actor {
        min-width: 650px;
        min-height: 450px;

        /* NPC Sheet Adjustments */
        /* ---------------------------------------- */
        /* Navigation Tabs
        /* ---------------------------------------- */
        /* ---------------------------------------- */
        /* Header Content
        /* ---------------------------------------- */
        /* ---------------------------------------- */
        /* Showcase Content
        /* ---------------------------------------- */
        /* Character Details */
        /* Primary Attributes */
        /* Status Effects */
        /* ---------------------------------------- */
        /* Sidebar Content
        /* ---------------------------------------- */
        /* ---------------------------------------- */
        /* Abilities Tab
        /* ---------------------------------------- */
        /* ----------------------------------------- */
        /* Class List
        /* ----------------------------------------- */
        /* ---------------------------------------- */
        /* Skills Tab
        /* ---------------------------------------- */
        /* ----------------------------------------- */
        /* Traits Tab
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /* Main Content Tabs
        /* ----------------------------------------- */
        /* Biography */
        /* ----------------------------------------- */
        /* Inventory Tab
        /* ----------------------------------------- */
        /* Inventory List */
        /* Encumbrance Bar */
        /* ----------------------------------------- */
        /* Spellbook Tab
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /* Feats Tab
        /* ----------------------------------------- */
        /* ----------------------------------------- */
        /* Rest Buttons
        /* ----------------------------------------- */

        .sidebar {
            float: left;
            width: 220px;
        }

        .content {
            float: right;
            width: calc(100% - 220px);
        }

        .floatright {
            float: right;
        }

        .sheet-upper {
            height: 268px;

            .sheet-header {
                height: 48px;
            }

            .sheet-profile, .sheet-showcase {
                height: 220px;
            }
        }

        .sheet-navigation {
            height: 32px;

            /* width: 100%;
             */
            float: right;
            width: calc(100% - 220px);
        }

        .sheet-lower {
            width: 100%;
            height: calc(100% - 48px);

            .sheet-content {
                height: calc(100% - 32px);
            }
        }

        .sheet-sidebar {
            height: calc(100% - 48px);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            overflow-x: hidden;
            overflow-y: auto;

            > * {
                flex: 1;
            }

            .sidebar-summary {
                overflow-y: hidden;
            }
        }

        &.npc-sheet {
            .sheet-upper {
                height: 220px;

                .sheet-showcase {
                    height: calc(220px - 48px);
                }
            }

            .sheet-lower {
                height: calc(100% - 220px - 32px);
            }

            section.sheet-body {
                height: calc(100% - 48px);
            }
        }

        .sheet-navigation {
            border-top: 1px solid var(--secondary-background);
            border-bottom: 1px solid var(--primary-background);

            .sheet-tabs > .list-row {
                border-radius: 5px 5px 0 0;

                &.active {
                    border: 1px solid #666;
                    border-bottom: none;

                    /* box-shadow: 0 0 10px inset #ff6400;
                     */
                    background: var(--primary-background);
                    color: #fff;
                    text-shadow: none;
                }
            }
        }

        .sheet-header {
            border-bottom: 1px solid var(--primary-background);

            h1 {
                margin: 0;
                border: none;

                &.charname {
                    flex: 2;
                }
            }

            .editsheet {
                flex: 3;
                font-size: 10px;
                text-align: center;
                margin-top: 3px;
            }

            .charlevel {
                flex: 0 0 150px;
                height: 44px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-end;
                text-align: right;

                > * {
                    flex: 1;
                }

                .level {
                    @include serif-condensed;
                    flex: 0 0 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    color: #444;
                    font-size: 20px;
                    line-height: 20px;

                    > {
                        * {
                            flex: 1;
                        }

                        input {
                            &[type="text"], &[type="number"] {
                                flex: 0 0 26px;
                                height: 20px;
                                text-align: center;
                            }
                        }
                    }
                }

                .xpbar {
                    width: 100%;
                    flex: 0 0 8px;
                    background: #666;
                    border: 1px solid #000;
                    border-radius: 3px;

                    .bar {
                        height: 4px;
                        margin: 1px;
                        display: block;
                        background: #afebff;
                        border: 1px solid #000;
                        border-radius: 2px;
                    }
                }

                .experience {
                    flex: 0 0 16px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    justify-content: flex-end;

                    > {
                        * {
                            flex: 1;
                        }

                        input {
                            &[type="text"], &[type="number"] {
                                flex: 1;
                                text-align: right;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }

        .details {
            height: 30px;
            list-style: none;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid var(--secondary-background);

            .character-detail {
                width: 33.33%;
                height: 30px;
                float: left;
                padding: 3px;
                border-right: 1px solid var(--secondary-background);

                &:last-child {
                    border-right: none;
                }

                > input {
                    @include serif-condensed;
                    color: #444;
                    font-size: 20px;
                }
            }
        }

        .primary-attributes {
            height: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            border-bottom: 1px solid var(--secondary-background);

            > * {
                flex: 1;
            }

            .attribute {
                flex: 0 0 25%;
                height: 79px;
                padding: 4px;
                border-right: 1px solid var(--secondary-background);

                &:last-child {
                    margin-right: 0;
                    border-right: none;
                }

                .attribute-name {
                    @include serif-condensed;
                    position: relative;
                    height: 22px;
                    margin: 0 0 2px;
                    line-height: 22px;
                    font-size: 18px;
                    color: #444;
                    text-align: center;
                    border-bottom: 1px solid var(--secondary-background);

                    .npc-roll-hp {
                        position: absolute;
                        right: 2px;
                    }
                }

                .attribute-value {
                    @include serif-condensed;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    height: 32px;
                    color: #444;
                    font-size: 20px;
                    line-height: 32px;
                    text-align: center;

                    > * {
                        flex: 1;
                    }
                }

                .attribute-footer {
                    height: 16px;
                    text-align: center;

                    span {
                        display: inline-block;
                    }

                    input {
                        max-width: 24px;

                        &.temphp {
                            max-width: 45%;
                        }

                        &.hit-dice {
                            min-width: 16px;
                            max-width: 16px;
                            text-align: right;
                        }

                        &[name="data.attributes.speed.value"] {
                            max-width: none;
                            text-align: left;
                        }

                        &.speed, &.hpformula {
                            max-width: 90%;
                        }
                    }

                    a.rest {
                        padding: 0 2px;
                        background: rgba(255, 255, 255, 0.25);
                        border: 1px solid var(--secondary-background);
                        border-radius: 2px;
                    }

                    &.recharge input[type="checkbox"] {
                        margin: 1px;
                    }
                }
            }
        }

        .statuses {
            width: 100%;
            height: 30px;
            margin: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            > * {
                flex: 1;
            }

            .status {
                line-height: 30px;
                padding: 0 6px;
                border-right: 1px solid var(--secondary-background);
                font-size: 14px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;

                > * {
                    flex: 1;
                }

                &.death {
                    flex: 0 0 50%;
                }

                &:last-child {
                    border-right: none;
                }

                h4 {
                    @include serif-condensed;
                    flex: 1;
                    margin: 0;
                    font-size: 18px;
                    color: #444;
                }

                .status-value {
                    flex: none;

                    > {
                        * {
                            display: inline-block;
                            margin-right: 5px;
                        }

                        input {
                            &[type="text"], &[type="number"] {
                                height: 20px;
                                max-width: 20px;
                                margin: 0;
                            }

                            &[type="checkbox"] {
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                }
            }
        }

        img.sheet-profile {
            /* border: none;
             */
            border: 1px solid var(--secondary-background);
            object-fit: contain;
        }

        .sheet-sidebar {
            border-right: 1px solid var(--primary-background);

            .tab {
                height: 100%;
                padding-top: 2px;
                overflow-y: auto;
            }
        }

        .abilities .defense-list {
            display: grid;
            grid: "defense" 40px / auto;
            grid-auto-rows: 40px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .npc-defense-list {
            display: grid;
            grid: "defense" 40px / auto;
            grid-auto-rows: 40px;
            list-style: none;
            margin: 0;
            margin-left: 5px;
            padding: 0;
        }

        .pf-heading {
            @include serif-condensed;
            font-size: 24px;
            line-height: 24px;
            color: #fff;
            background: var(--primary-background);
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .pf-sub-category {
            font-weight: bold;
            font-size: 1em;
            line-height: 20px;
            color: #fff;
            background: var(--secondary-background);
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .pf-bluelist {
            color: #fff;
            background: var(--primary-background);
        }

        .pf-add-item-row {
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            font-size: 10px;
            background: var(--primary-background);
        }

        .pf-redbackground {
            background: var(--secondary-background);
            color: white;
            height: 32px;
            margin-top: 2px;
        }

        .pf-indent {
            text-indent: 10px;
        }

        .pf-width-100 {
            width: 100%;
        }

        .pf-title {
            background: var(--tertiary-background);
            height: 16px;
            border: 1px solid var(--tertiary-background);
            text-align: center;
            align-self: start;
            margin-bottom: -1px;
            color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .pf-value {
            background: #fff;
            border: 1px solid var(--tertiary-background);
            text-align: center;
        }

        .pf-rank {
            letter-spacing: -3px;
            font-size: 14px;
            line-height: 16px;
        }

        .pf-container {
            grid: "title" 15px "value" auto / auto;
            margin-top: 2px;
            justify-self: center;
        }

        .pf-small {
            height: 20px;
        }

        .pf-large {
            font-size: 26px;
            height: 32px;
        }

        .abilities {
            .ac-list {
                display: grid;
                grid: "score items" 38px "score items" 38px / 73px auto;
                margin: unset;
                padding: unset;
                background: var(--secondary-background);
            }

            .npc-defence-list {
                display: grid;
                grid: "ac current max" 38px / 73px 73px 73px;
                margin: unset;
                padding: unset;
                background: var(--secondary-background);

                .ac-value {
                    height: 16px;
                    font-size: 12px;
                    width: 46px;
                }

                .ac-item {
                    height: 13px;
                    font-size: 11px;
                    width: 46px;
                }
            }

            .ac-grid {
                display: grid;
                grid: "item item item" 32px / 33% 33% 33%;
                margin: unset;
                margin-top: 1px;
                padding: unset;
                background: var(--secondary-background);
                height: 32px;
            }

            .ac-list {
                .ac-value {
                    height: 16px;
                    font-size: 12px;
                    width: 46px;
                }

                .ac-item {
                    height: 13px;
                    font-size: 11px;
                    width: 46px;
                }
            }

            .armor-class {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 2;
                align-self: center;
                background: #fff;
                height: 64px;
                width: 64px;
                border: 1px solid;
                border-radius: 33px;
                font-size: 42px;
                text-align: center;
            }

            .shield-value {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 2;
                align-self: end;
                justify-self: end;
                height: 26px;
                width: 26px;
                background: #fff;
                border: 1px solid;
                font-size: 22px;
                text-align: center;
                border-radius: 14px;
                margin-right: 2px;
                margin-bottom: 2px;
            }

            .hp-list {
                display: grid;
                grid: "li" 50px / auto;
                grid-auto-rows: 40px;
                margin: unset;
                margin-top: 4px;
                padding: unset;
            }

            .hp-list-small {
                display: grid;
                grid: "li" 34px / auto;
                margin: unset;
                margin-top: 4px;
                padding: unset;
            }

            .li-two-grid {
                display: grid;
                grid: "temp current max" 50px / 50% 50%;
                margin: unset;
                align-self: center;

                /* margin-top: 1px;
                 */
                padding: unset;
                background: var(--secondary-background);
            }

            .li-two-grid-small {
                display: grid;
                grid: "temp current max" 32px / 50% 50%;
                margin: unset;
                align-self: center;

                /* margin-top: 1px;
                 */
                padding: unset;
                background: var(--secondary-background);
            }

            .li-three-grid {
                display: grid;
                grid: "temp current max" 50px / 33% 33% 33%;
                margin: unset;
                align-self: center;

                /* margin-top: 1px;
                 */
                padding: unset;
                background: var(--secondary-background);
            }

            .li-four-grid {
                display: grid;
                grid: "one two three four" 32px / 25% 25% 25% 25%;
                margin: unset;
                align-self: center;

                /* margin-top: 1px;
                 */
                padding: unset;
                background: var(--secondary-background);
            }

            .hp-list {
                .hp-current, .hp-max, .hp-temp {
                    width: 64px;
                }

                .hp-conditions {
                    grid-area: condition;
                    width: 143px;
                }
            }
        }

        .bio-container {
            display: grid;
            grid: "image bio" 220px / 220px auto;
            margin: unset;
            padding: unset;
        }

        .biography {
            .sheet-profile {
                grid-area: image;
            }

            .bio-list {
                grid-area: bio;
                display: grid;
                grid: "bio" 40px / auto auto;
                grid-auto-rows: 40px;
                margin: unset;
                padding: unset;
                background: var(--secondary-background);
            }

            .bio-3way {
                display: grid;
                grid: "bio" 40px / 33% 33% 33%;
                grid-auto-rows: 40px;
                margin: unset;
                padding: unset;
                background: var(--secondary-background);
            }
        }

        .abilities .bio-list {
            grid-area: bio;
            display: grid;
            grid: "bio" 40px / 102px auto;
            grid-auto-rows: 40px;
            margin: unset;
            padding: unset;
            height: 32px;
            background: var(--secondary-background);
            margin-top: 3px;
            margin-bottom: 8px;

            .npc-bio-item {
                width: 100px;
            }
        }

        .biography {
            .bio-3way > * {
                width: 125px;
            }

            .bio-list {
                > * {
                    width: 94px;
                }

                .bio-appearance, .bio-attitude {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    width: 170px;
                }

                .bio-appearance > input, .bio-attitude > input {
                    text-align: start;
                    word-break: break-all;
                }
            }

            .editor {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
                height: 230px;
                padding-left: 8px;
            }
        }

        .abilities .npc-defense, .npc-defense {
            grid-row-start: auto;
            align-self: center;
            display: grid;
            grid: "score name" 32px / 40px auto;
            background: var(--secondary-background);
            margin-right: 4px;
        }

        .abilities .npc-defense .attribute-name {
            grid-area: auto;
            margin: 0;
            background: var(--secondary-background);
            color: white;
            align-self: center;
            font-size: 15px;
        }

        .npc-defense {
            .attribute-name, .spelldc-name {
                grid-area: auto;
                margin: 0;
                background: var(--secondary-background);
                color: white;
                align-self: center;
                font-size: 15px;
            }
        }

        .abilities .npc-defense {
            .save-name {
                grid-area: auto;
                margin: 0;
                background: var(--secondary-background);
                color: white;
                align-self: center;
                font-size: 15px;
            }

            .defense-score {
                @include serif-condensed;
                grid-area: auto;
                font-size: 28px;
                text-align: center;
                background: var(--secondary-background);
                color: white;
            }
        }

        .npc-defense .defense-score {
            @include serif-condensed;
            grid-area: auto;
            font-size: 28px;
            text-align: center;
            background: var(--secondary-background);
            color: white;
        }

        .abilities .npc-defense .defense-score > input, .npc-defense .defense-score > input {
            @include serif-condensed;
            width: 30px;
            height: 30px;
            margin: 3px;
            font-size: 28px;
            text-align: center;
            background: #fff;
            border: 1px solid;
        }

        .list-row .skill-input > input {
            @include serif-condensed;
            width: 22px;
            height: 22px;
            margin: 1px;
            font-size: 20px;
            text-align: center;
            background: #fff;
            border: 1px solid;
        }

        .abilities {
            .defense {
                grid-row-start: auto;
                align-self: center;
                display: grid;
                grid: "score name rank item" 32px / 34px auto 52px 52px;
                background: var(--secondary-background);
                margin-right: 4px;

                .save-name, .attribute-name, .attribute-name-non-rollable {
                    grid-area: auto;
                    margin: 0;
                    background: var(--secondary-background);
                    color: white;
                    align-self: center;
                    font-size: 15px;
                }
            }

            .defense-container {
                background: var(--secondary-background);
                width: 48px;
                margin-top: 2px;
            }

            .defense {
                .defense-score {
                    @include serif-condensed;
                    grid-area: auto;
                    font-size: 28px;
                    text-align: center;
                    background: var(--secondary-background);
                    color: white;

                    > input {
                        @include serif-condensed;
                        width: 30px;
                        height: 30px;
                        margin: 3px;
                        font-size: 28px;
                        text-align: center;
                        background: #fff;
                        border: 1px solid;
                    }
                }

                .proficiency-name {
                    grid-area: auto;
                    font-size: 11px;
                    height: 13px;
                }

                .proficiency-rank {
                    letter-spacing: -3px;
                    grid-area: auto;
                    height: 16px;
                    font-size: 12px;
                }

                .defense-item {
                    grid-area: auto;
                    font-size: 11px;
                    height: 13px;
                }
            }

            .defense-item {
                grid-area: auto;
                font-size: 11px;
                height: 13px;
            }

            .defense .defense-item-value, .defense-item-value {
                grid-area: auto;
                height: 16px;
                font-size: 12px;
            }
        }

        .npc-abilities .ability-title, .abilities .ability-title {
            @include serif-condensed;
            flex: 0 0 24px;
            font-size: 24px;
            line-height: 24px;
            color: #fff;
            background: var(--primary-background);
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .npc-abilities {
            .abilities-list {
                display: grid;
                grid: 38px 38px / 33.3% 33.3% 33.3%;
                grid-auto-rows: 54px;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .ability {
                grid-row-start: auto;
                display: grid;
                grid: [row1-start] "id" 26px [row1-end] [row2-start] "mod" 26px (([row2-end]) / 100%);
                height: 26px;
                line-height: 26px;

                .ability-score {
                    grid-area: score;
                    align-self: center;
                    justify-self: right;
                    flex: 0 0 26px;
                    height: 26px;
                }

                .ability-mod {
                    @include serif-condensed;
                    flex: 0 0 24px;
                    font-size: 24px;
                    line-height: 26px;
                    color: #666;
                    text-align: center;

                    .ability-input {
                        @include serif-condensed;
                        width: 30px;
                        height: 30px;
                        margin: 3px;
                        font-size: 28px;
                        text-align: center;
                        background: #fff;
                        border: 1px solid;
                        border-radius: 4px;
                        margin-left: 18px;
                    }
                }

                .ability-name {
                    margin: 2px;
                }
            }
        }

        .abilities {
            .abilities-list {
                display: grid;
                grid: "ability ability" 50px / 50%;
                grid-auto-rows: 50px;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            .ability {
                grid-row-start: auto;
                display: grid;
                grid: [row1-start] "header header header header" 16px [row1-end] [row2-start] "id mod score blank" 26px (([row2-end]) / 46%) 31% 18% 5%;
                height: 36px;
                line-height: 36px;
            }
        }

        .npc-abilities .ability > *, .abilities .ability > * {
            flex: 1;
            align-self: center;
        }

        .npc-abilities .ability .ability-proficiency, .abilities .ability .ability-proficiency {
            flex: 0 0 20px;
            height: 100%;
            text-align: left;
            padding-left: 3px;
        }

        .npc-abilities .ability .ability-proficiency i.fa-circle, .abilities .ability .ability-proficiency i.fa-circle {
            font-size: 10px;
        }

        .npc-abilities .ability .ability-name {
            grid-area: header;
            font-size: 12px;
            color: #444;
            margin: 0;
        }

        .abilities .ability {
            .ability-name {
                grid-area: header;
                font-size: 12px;
                color: #444;
                margin: 0;
            }

            .ability-score {
                grid-area: score;
                align-self: center;
                justify-self: right;
                flex: 0 0 36px;
                height: 36px;
            }
        }

        .npc-abilities .ability .ability-score > input {
            width: 20px;
            height: 20px;
            margin: 3px;
            font-size: 12px;
            color: #444;
            text-align: center;
            background: #fff;
            border: 1px solid;
        }

        .abilities .ability {
            .ability-score > input {
                width: 20px;
                height: 20px;
                margin: 3px;
                font-size: 12px;
                color: #444;
                text-align: center;
                background: #fff;
                border: 1px solid;
            }

            .ability-mod {
                @include serif-condensed;
                flex: 0 0 24px;
                font-size: 24px;
                line-height: 36px;
                color: #666;
                text-align: center;
            }
        }

        .npc-abilities .npc-defense .ability-name, .abilities .ability .ability-id {
            @include serif-condensed;
            flex: 0 0 24px;
            font-size: 32px;
            background: var(--secondary-background);
            border-radius: 8px;
            line-height: 28px;
            color: #fff;
            text-align: center;
        }

        .npc-abilities .ability .ability-mod, .abilities .ability .ability-mod {
            grid-area: mod;
            align-self: center;
        }

        .npc-abilities .ability .ability-name, .abilities .ability .ability-id {
            grid-area: id;
            align-self: center;
        }

        .class-levels {
            margin: 0 5px 0 0;
            height: 156px;
            overflow: hidden;

            .class-header {
                line-height: 20px;
                position: relative;
                margin: 3px 0 1px;

                h3 {
                    @include serif-condensed;
                    text-align: center;
                    color: #444;
                    font-size: 18px;
                    color: #222;
                    margin: 0;
                }

                a.item-create {
                    position: absolute;
                    top: 0;
                    right: 0;
                    font-size: 11px;
                    color: #666;
                }
            }

            .class-list {
                overflow-y: hidden;

                .list-row {
                    height: 44px;
                    background: rgba(0, 0, 0, 0.03);
                    padding: 2px;
                    border: 1px solid var(--secondary-background);
                    border-radius: 2px;
                    margin-bottom: 2px;

                    h4, h5 {
                        width: calc(100% - 44px);
                        float: left;
                        margin: 0;
                        line-height: 20px;
                        font-weight: strong;
                    }

                    .item-header {
                        flex: 0 0 100%;
                        height: 20px;

                        .class-levels {
                            @include serif-condensed;
                            width: 44px;
                            height: 100%;
                            float: right;
                            margin: 0;
                            font-size: 10px;
                            text-align: right;
                            font-size: 18px;
                            color: #222;
                        }
                    }

                    .class-subclass {
                        flex: 0 0 100%;
                        height: 20px;

                        .item-controls {
                            width: 44px;
                            float: right;

                            a {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        .skills .skills-list {
            margin: 0;
            padding: 0;
            display: grid;
            grid: "skill skill" 36px / 50% 50%;
            grid-auto-rows: 36px;
        }

        .spellbook {
            .skills-list {
                margin: 0;
                padding: 0;
                display: grid;
                grid: "skill skill" 36px / 50% 50%;
                grid-auto-rows: 36px;
            }

            .skill-grid {
                grid-area: auto;
                display: grid;
                grid: "value name rank item" 100% / 35px auto 46px 46px;
            }
        }

        .pf-three-grid {
            grid-area: auto;
            display: grid;
            grid: "one two three" 100% / auto 90px 20px;
        }

        .pf-two-grid {
            grid-area: auto;
            display: grid;
            grid: "one two" 100% / auto 90px;
        }

        .pf-justify-center {
            justify-self: center;
        }

        .skills {
            .lores-list {
                margin: 0;
                padding: 0;
            }

            .martial {
                grid-area: auto;
                display: grid;
                grid: "name rank space" 100% / auto 46px 20px;
            }

            .skill {
                grid-area: auto;
                display: grid;
                grid: "value name rank item armor" 100% / 35px auto 46px 46px 20px;
            }
        }

        .actions-list .lores-list .list-row, .lores-list .list-row {
            grid-area: auto;
            display: grid;
            grid: "value name rank item armor" 36px / 32px auto 46px 46px 20px;
        }

        .skill-container .item-item {
            height: 16px;
            margin-top: 2px;
            font-size: 12px;
        }

        .skills .skill-container, .spellbook .skill-container {
            display: grid;
            grid: "title" 12px "value" 18px / auto;
            background: var(--secondary-background);
            height: 32px;
            align-self: center;
        }

        .skills .skill-container .skill-proficiency, .spellbook .skill-container .skill-proficiency {
            font-size: 12px;
        }

        .skills .skill-container > *, .spellbook .skill-container > * {
            width: 43px;
        }

        .skills {
            .skill > *, .list-row > * {
                flex: 1;
            }
        }

        .spellbook .skill-grid > * {
            flex: 1;
        }

        .skills .skill-name {
            margin: 0;
            align-self: center;
            background: var(--secondary-background);
            line-height: 32px;
            color: white;
        }

        .spellbook .skill-name {
            margin: 0;
            text-align: center;
            align-self: center;
            background: var(--secondary-background);
            line-height: 32px;
            color: white;
        }

        .skills {
            .lore-name, .lore-name-input {
                margin: 0;
                align-self: center;
                background: var(--secondary-background);
                line-height: 32px;
                color: white;
            }

            .skill-proficiency {
                margin-top: 2px;
            }
        }

        .spellbook .skill-proficiency {
            margin-top: 2px;
        }

        .skills .skill-item, .spellbook .skill-item {
            margin-top: 2px;
            font-size: 11px;
        }

        .skills {
            .skill-ability {
                flex: 0 0 36px;
                color: #666;
                text-align: right;
                margin-right: 4px;
                flex: 0 0 36px;
                color: #666;
                text-align: right;
                margin-right: 4px;
            }

            .skill-armor {
                align-self: center;
                background: var(--secondary-background);
                line-height: 32px;
                color: white;
                width: 16px;
                margin: unset;
            }

            .skill-score {
                @include serif-condensed;
                font-size: 28px;
                text-align: center;
                align-self: center;
                background: var(--secondary-background);
                color: white;
            }
        }

        .spellbook .skill-score {
            @include serif-condensed;
            font-size: 28px;
            text-align: center;
            align-self: center;
            background: var(--secondary-background);
            color: white;
        }

        &.locked {
            .ability-proficiency, .skill-proficiency {
                text-shadow: none;
                cursor: default;
            }
        }

        .traits {
            label {
                font-weight: bold;
            }

            select {
                margin: 2px 0;
            }

            .trait-perception > input {
                flex: 0 0 32px;
                text-align: center;
            }

            .trait-selector {
                float: right;
                margin-right: 3px;
                color: #999;
                font-size: 10px;
                line-height: 16px;
            }

            .traits-list {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }

        .traits-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .traits .configure-flags i.fas {
            float: right;
            margin-right: 3px;
            text-align: right;
            color: #999;
            line-height: 24px;

            &:hover {
                color: #111;
                text-shadow: 0 0 10px #ff6400;
            }
        }

        &.npc-sheet .biography .editor {
            height: 465px;
        }

        .inventory-header {
            list-style: none;
            margin: 0;
            padding: 0;

            .list-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                line-height: 24px;
                padding: 0;
                border-bottom: 1px solid var(--secondary-background);

                > * {
                    flex: 1;
                }

                .item-name, .melee-name, .npc-skill-name {
                    /* display: flex;
                     */
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    cursor: pointer;
                }

                .item-name > *, .melee-name > *, .npc-skill-name > * {
                    flex: 1;
                }

                .item-name h4, .melee-name h4, .npc-skill-name h4 {
                    flex: 2;
                    margin: 0;
                }

                .item-controls {
                    flex: 0 0 44px;
                }
            }
        }

        .action-header .item-controls {
            flex: 0 0 44px;
        }

        .inventory-header .list-row .item-controls a, .action-header .item-controls a {
            display: block;
            float: left;
            width: 44px;
            font-size: 14px;
            text-align: center;
        }

        .inventory-header .action-header h3 {
            font-size: 24px;
            margin: 0;
            padding-left: 32px;
            text-align: center;
        }

        .inventory-list {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            overflow-y: auto;
            margin-bottom: 2px;
        }

        .spellcastingEntry-list {
            list-style: none;
            margin: 0;
            padding: 0;
            height: calc(100% - 20px);
            overflow-y: auto;
        }

        .singleColumn-list {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow-y: auto;
        }

        .overflow-list {
            list-style: none;
            margin: 0;
            padding: 0;
            height: 100%;
            overflow-y: auto;
        }

        .inventory-list .list-row {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            flex-flow: wrap row;
            justify-content: flex-start;
            line-height: 1.8em;
            padding: 0;
            border-bottom: 1px solid var(--secondary-background);

            > * {
                flex: 1;
            }

            .item-name, .melee-name {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                cursor: pointer;
                padding: 1px 0;
                &:first-child {
                    padding-left: 4px;
                    &.long {
                        min-width: 230px;
                    }
                }
            }

            .feat-name {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                cursor: pointer;
            }

            .item-name .item-image, .melee-name .item-image {
                flex: 0 0 24px;
                margin-right: 4px;
                background-size: 24px;
                background-repeat: no-repeat;
            }

            .item-name h4, .melee-name h4 {
                flex: 2;
                margin: 0;
            }

            .item-name {
                .prepared {
                    color: #666;
                    margin-left: 3px;
                    font-size: 10px;
                }

                .item-charges {
                    color: #666;
                    font-size: 12px;
                    flex: 0;
                }

                &:hover .item-image {
                    background-image: url("/icons/svg/d20-grey.svg") !important;
                }

                .item-image:hover {
                    background-image: url("/icons/svg/d20-black.svg") !important;
                }
            }

            .item-sell-value, .item-quantity {
                flex: 0 0 64px;
                font-size: 12px;
                color: #666;
                text-align: center;
                border-right: 1px solid var(--secondary-background);
            }

            .item-weight {
                flex: 0 0 64px;
                font-size: 12px;
                color: #666;
                text-align: center;
                border-right: 1px solid var(--secondary-background);
                flex: 0 0 42px;
            }
        }
    }
}

/* ----------------------------------------- */
/* Generic Sheet Styling
/* ----------------------------------------- */

/* ---------------------------------------- */
/* Actor Sheet
/* ---------------------------------------- */

/* ###################### BIO ################################## */

.add-coins-popup button, .sell-all-treasure button {
    line-height: 17px;
}

.pf2e.actor {
    .inventory-list .list-row {
        .item-quantity {
            flex: 0 0 64px;
            display: flex;
            justify-content: space-around;
            margin-left: 5px;
            padding: 0 5px;

            * {
                display: inline;
            }

            a {
                flex: 0.25;
                font-weight: bold;
            }
        }

        .item-controls {
            flex: 0 0 60px;

            a {
                padding-left: 1px;
                font-size: 10px;
                text-align: center;
                color: #666;
                &:first-child {
                    padding-left: 8px;
                }
            }
        }
    }

    .list-row.action-header .item-controls a {
        display: block;
        float: left;
        width: 22px;
        font-size: 10px;
        text-align: center;
        color: #666;
    }

    .inventory-list {
        .list-row {
            .item-controls a.item-toggle-equip {
                color: #aaa;

                &.active {
                    color: #666;
                }
            }

            .item-summary {
                flex: 0 0 100%;
                font-size: 12px;
                line-height: 16px;
                padding: 0.25em 0.5em;
                border-top: 1px solid var(--secondary-background);
            }
        }

        .action-header h3 {
            font-size: 24px;
            margin: 0;
            padding: 2px 0;
            text-align: center;
        }
    }

    .action-header .item-controls a {
        &.item-create, &.item-delete, &.feat-browse, &.action-browse {
            width: 100%;
            color: #fff;
            background: var(--primary-background);
        }
    }

    .inventory-header .item-controls a.inventory-browse {
        width: 100%;
        color: #fff;
        background: var(--primary-background);
    }

    .inventory-list .inventory-header {
        font-weight: 700;
        line-height: 20px;
        background: var(--primary-background);

        &.sub-category {
            font-weight: 700;
            line-height: 20px;
            background: var(--secondary-background);
        }

        h3 {
            font-size: 1em;
            margin: 0;
            padding-left: 5px;
            font-weight: bold;
        }

        .item-sell-value, .item-quantity, .item-weight {
            color: white;
        }

        .item-controls a {
            &.item-create {
                width: 100%;
                color: white;
            }

            &.spell-create, &.spell-browse {
                color: white;
            }
        }

        > * {
            color: white;
        }
    }

    &.character-sheet .inventory-list {
        height: calc(100% - 42px);
    }

    .container-capacity {
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.1);
        height: 20px;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #666;

        .container-capacity-bar {
            position: absolute;
            top: 0px;
            left: 0px;
            background: #aaa;
            height: 19px;
        }

        .container-capacity-label {
            position: absolute;
            height: 20px;
            font-size: 12px;
            line-height: 20px;
            color: #000;
            padding: 0 3px;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }

        &.over-limit .container-capacity-bar {
            background: #ec6b6b;
        }
    }

    .encumbrance {
        background: rgba(0, 0, 0, 0.1);
        height: 12px;
        margin-top: 5px;
        border: 1px solid #111;
        border-radius: 3px;
        position: relative;
        width: calc(100% - 20px);

        .encumbrance-bar {
            position: absolute;
            top: 1px;
            left: 1px;
            background: var(--secondary-background);
            height: 8px;
            border: 1px solid #6f5439;
            border-radius: 3px;
        }

        .encumbrance-label {
            position: absolute;
            top: -3px;
            height: 16px;
            font-size: 16px;
            line-height: 16px;
            color: #000;
            background: rgba(255, 255, 255, 0.4);
            padding: 0 3px;
        }

        .encumbrance-breakpoint {
            position: absolute;
            left: 66%;
        }

        .arrow-up {
            bottom: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 4px solid #666;
        }

        .arrow-down {
            top: 0;
            width: 0;
            height: 0;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-top: 4px solid #666;
        }

        &.encumbered {
            background-color: yellow;
        }

        &.over-limit {
            background-color: red;
        }

        &.encumbered {
            .arrow-up {
                border-bottom: 4px solid #000;
            }

            .arrow-down {
                border-top: 4px solid #000;
            }
        }
    }

    .spellbook {
        .spellcasting-ability {
            margin: 0;
            padding: 3px 3px 0;
            border-bottom: 1px solid var(--secondary-background);
            font-size: 12px;

            label {
                line-height: 20px;
            }

            select {
                flex: 1;
            }
        }

        .inventory-list .list-row {
            .spell-school-header, .spell-action-header {
                color: white;
                flex: 1;
                font-size: 12px;
                text-align: center;
                border-right: 1px solid var(--secondary-background);
            }
        }

        .prepared-toggle {
            flex: 0 0 20px;
            line-height: 24px;
            background: var(--primary-background);
            padding-left: 5px;
        }

        .level-prepared-toggle {
            flex: 0 0 25px;
            line-height: 19px;
            background: var(--secondary-background);
            padding-left: 5px;
            font-size: 0.8em;
        }

        .level-prepared-header {
            @include serif-condensed;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 20px;
            opacity: 0.8;
        }

        .spellbook-item {
            font-style: oblique;
            opacity: 0.8;
        }

        .inventory-list {
            .spellbook-item h4 {
                margin-left: 30px;
            }

            height: calc(100% - 96px);
        }

        .list-row {
            .item-name, .melee-name {
                flex: 2;
                border-right: 1px solid var(--secondary-background);
            }
        }
    }

    .list-row {
        .spell-school, .spell-action {
            flex: 1;
            font-size: 12px;
            color: #666;
            text-align: center;
            border-right: 1px solid var(--secondary-background);
        }

        .spell-slots, .spell-max {
            flex: 0 0 24px;
            font-size: 12px;
            text-align: center;
        }

        .spell-slots-input, .spell-max-input {
            flex: 0 0 24px;
            font-size: 12px;
            text-align: center;
            background: white;
            border: 1px solid;
            border-radius: 17px;
            height: 18px;
            margin-top: 1px;
        }

        .spell-max {
            border-right: 1px solid var(--secondary-background);
        }
    }

    .spellbook-empty .item-controls {
        flex: 1;
    }

    &.character-sheet .spellbook .item-controls {
        flex: 0 0 44px;
    }

    .feats .feats-list {
        height: 100%;

        .item-name {
            flex: 2;
        }
    }

    .feat-uses {
        display: inline;
        font-size: 11px;
        color: #444;
    }

    #short-rest-hd {
        label {
            flex: 0 0 60px;
            line-height: 24px;
        }

        #roll-hd {
            line-height: 24px;
            margin-left: 6px;
        }
    }
}

/* ----------------------------------------- */
/* Special Traits and Flags
/* ----------------------------------------- */

#actor-flags h3.flags-section {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 3px;
    margin: 0;
    font-weight: bold;
    font-size: inherit;
}

/* ----------------------------------------- */
/* Item Card Structure                       */
/* ----------------------------------------- */

.pf2e {
    &.chat-card {
        font-style: normal;

        .card-header {
            padding: 2px 0;
            border-top: 2px groove #fff;
            border-bottom: 2px groove #fff;
            align-items: center;
            min-height: 36px;

            img {
                flex: 0 0 36px;
                margin-right: 5px;
                height: 36px;
                width: 36px;
            }

            h3 {
                flex: 1;
                margin: 0;
            }

            h4 {
                flex: 0;
                margin: 0 5px 0 0;
                white-space: nowrap;
            }
        }

        .tags {
            margin: 3px 0 0;
        }

        .card-content {
            margin: 4px 0;

            p {
                margin: 4px 0;
            }
        }

        .card-buttons {
            margin: 5px 0;

            span {
                display: block;
                line-height: 28px;
                text-align: center;
                border: 1px solid var(--secondary-background);
            }

            button {
                margin: 2px 0;
            }

            .spell-attack-buttons {
                display: flex;
                flex-direction: row;

                * {
                    flex-grow: 1;
                    flex-basis: 0;
                }

                :first-child {
                    flex-grow: 2;
                }
            }
        }

        .card-footer {
            padding: 3px 0 0;
            border-top: 2px groove #fff;

            span {
                border-right: 2px groove #fff;
                padding: 0 5px 0 0;
                font-size: 12px;

                &:last-child {
                    border-right: none;
                    padding-right: 0;
                }
            }
        }

        .card-buttons-multiattack {
            display: grid;
            grid-template-columns: auto 40px 40px;
            grid-column-gap: 4px;
        }

        .card-buttons-two-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 4px;
        }
    }


    /* ----------------------------------------- */
    /* Item Buttons
    /* ----------------------------------------- */

    &.sheet {
        .item-buttons {
            button {
                font-size: 10px;
                line-height: 12px;
                margin: 0;
            }

            span {
                padding: 0;
            }
        }

        .melee-buttons {
            button {
                font-size: 10px;
                line-height: 12px;
                margin: 0;
                border: 1px groove darkgray;
            }

            span {
                padding: 0;
                margin-top: 3px;
            }
        }
    }
}

/* ----------------------------------------- */
/* Spell Browser
/* ----------------------------------------- */

#compendium {
    &.flexcolumn {
        &.active {
            display: flex;
            flex-direction: column;
        }

        > {
            .directory-list {
                width: 100%;
                height: auto;
                flex-basis: 0;
                flex-grow: 1;
            }

            .directory-footer {
                height: auto;

                > * {
                    margin-top: 5px;
                }
            }
        }

        .spell-browser-btn {
            margin-left: 2%;
            margin-right: 0;
        }
    }

    .create-compendium {
        flex-basis: 100%;
    }
}

/* spellbrowser */

/* resizing */

.spell-browser-window {
    resize: both;
    overflow: auto;
    max-width: 1100px;
    max-height: 90vh;
}

button > i.far {
    pointer-events: none;
}

/* Updated NPC Sheet Styles */

.pf2e.actor .sheet-header {
    .charname.updatednpcsheet {
        flex: 1.5;
    }

    .charlevel.updatednpcsheet {
        flex: 1;
    }
}

.npc-detail-text {
    display: flex;
    background: var(--secondary-background);
    color: #fff;
    flex-wrap: wrap;
}

.pf2e.sheet form .npc-detail-text {
    input {
        &[type="text"], &[type="number"] {
            background: rgba(255, 255, 255, 0.8);
            color: black;
            border: 1px solid black;
        }
    }

    textarea {
        height: fit-content;
        overflow-y: hidden;
        resize: none;
        width: calc(100% - 2px);
        min-height: 26px;
        font-family: inherit;
    }
}

.pf2e {
    &.sheet form .defense-list input.stat-detail {
        display: flex;
        font-size: 13px;
        height: 18px;
        background: rgba(183, 91, 91, 0.2);
        color: black;
        border: 1px solid black;
        width: calc(100% - 4px);
    }

    &.actor .sheet-header .charlevel .level > input[type="checkbox"] {
        flex: 0 0 26px;
    }

    &.sheet form .defense-list.stats-section {
        grid-auto-rows: auto;
        grid: "defense" auto;
    }

    &.updatedNPCSheet form .inventory-list.toggles-list {
        min-height: min-content;
        width: 100%;

        .actions-options {
            display: flex;
            flex-wrap: wrap;
            padding: 0.5rem 1rem;

            .actions-option {
                display: flex;
                align-items: center;
                width: 100%;

                label {
                    width: 100%;

                    * {
                        display: inline;
                        vertical-align: middle;
                    }

                    input {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }

    &.updatedNPCSheet form .inventory-list .list-row {
        .item-name h4 {
            flex: 2;
            line-height: 1.4em;
            padding-top: 0.2em;
        }

        .melee-name {
            h4 {
                flex: 2;
                line-height: 1.4em;
                padding-top: 0.2em;
            }

            div.melee-buttons {
                max-width: 80%;
                display: inline-flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-wrap: wrap;
            }

            h4 span.strike {
                font-weight: normal;
                display: inline;
            }
        }
    }

    &.actor .inventory-list .list-row .spell-buttons {
        flex: none;
        display: inline-flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    &.sheet form.updatedNPCSheet {
        overflow-y: scroll;

        .contentcontainer {
            position: relative;
            display: block;
            background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
            z-index: 2;
        }

        .bgcontainer {
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center center;
            opacity: 0.15;
            content: none;
            z-index: 1;
            position: absolute;
            pointer-events: none;

            &.hidden {
                visibility: hidden;
            }
        }

        .npc-title-bar {
            display: flex;
            margin-bottom: 0.1em;
            width: 100%;
            justify-content: space-between;
            border-bottom: 2px solid #782e22;
            margin: 0 0 0.5rem;

            h1 {
                font-family: var(--sans-serif);
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 0;
                border-bottom: 0;
            }

            .name {
                justify-content: flex-start;
                font-variant: small-caps;
            }

            .level, .editNPCButton {
                flex-shrink: 0;
            }
        }

        hr {
            border-top: 2px solid black;
            margin-block-start: 0;
        }

        .list-row hr {
            border-width: 1px;
            border-top-color: #111;
            margin-block-start: 0.5em;
        }

        h1.editNPCButton {
            display: flex;
            justify-content: end;
            flex-direction: column;
            margin-left: 4em;
            font-size: 10px;
            font-weight: normal;
        }
    }
}

/* HEADER */

/* TRAITS */

.traits-bar {
    display: flex;
    align-items: flex-start;

    .trait {
        background-color: #5e0000;
        border-color: #d8c483;
        border-style: double;
        border-width: 2px;
        padding: 0 1em;
        color: white;
        text-transform: uppercase;
        font-family: var(--sans-serif);
        padding-top: 0.2em;

        &.alignment {
            background-color: #5e657a;
        }

        &.size {
            background-color: #447b5c;
        }

        &.uncommon {
            background-color: #c45500;
        }

        &.rare {
            background-color: #0c1466;
        }

        &.unique {
            background-color: #54166e;
        }
    }
}

/* Top-section */

.pf2e.sheet form {
    &.updatedNPCSheet {
        .top-section {
            display: flex;

            .top-stats-container {
                flex: 2;
                order: 1;
            }

            .top-quick-container {
                flex: 1;
                order: 2;
                padding-right: 0.2em;
                display: flex;
                flex-direction: column;
                min-width: 160px;

                * {
                    text-align: right;
                }

                .hp-current {
                    height: 24px;
                    font-size: 20px;
                    display: inline-flex;
                    flex-direction: row;

                    label {
                        width: auto;
                        flex: 5;
                    }

                    input {
                        width: auto;
                        flex: 1;
                    }
                }

                textarea {
                    resize: none;
                    flex: 2;
                }
            }
        }

        .inventory-list {
            height: auto;
            border-top: 1px solid var(--secondary-background);
        }

        .list-row .item-name.rollable .item-image {
            min-height: 24px;
        }
    }

    .list-row .melee-name.rollable .item-image {
        min-height: 24px;
    }

    &.updatedNPCSheet {
        .list-row {
            .item-controls {
                display: flex;
                align-items: center;
            }

            &.inventory-header.sub-category.attack-header {
                display: none;
            }
        }

        .item-control:hover {
            color: #111;
            text-shadow: 0 0 10px #ff6400;
        }
    }
}

/* Items */

/** Hide Attack headers */

.container-held-items {
    margin-left: 10px;
}

li.list-row.hover-container {
    background-color: #aaa !important;
}

/* Stats */

.pf2e.sheet form.updatedNPCSheet {
    .inline-stats {
        display: block;

        * {
            display: inline;
            justify-content: flex-start;
            padding-left: 0.05em;
        }

        > .stat-list {
            > span.stat-minortitle {
                padding-right: 0.2em;
            }
        }
        .stat-detail {
            &.perception:before {
                white-space: pre-wrap;
            }

            &.speed + .speed:before {
                content: ", ";
                white-space: pre-wrap;
            }
        }
    }

    .stats-line {
        display: block;

        &.recall-knowledge button {
            font-size: 10px;
            line-height: 12px;
            margin: 0;
            border: 1px groove darkgray;
            background: rgba(0, 0, 0, 0.1);
            cursor: pointer;
            width: auto;
        }
    }

    .stat-list {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .skill-variants {
        display: inline-flex;

        *:not(:last-of-type):after {
            content: ",";
        }
    }

    .stat-list, .stat-value {
        &:not(:last-of-type):after {
            content: ",";
            padding-right: 0.2em;
        }

        ul.skill-list {
            display: inline;
            list-style-type: none;
            padding: 0;

            li {
                display: inline;
                padding: 0;
                &:not(:last-of-type):after {
                    content: ",";
                }
            }
        }
    }

    .stat-list.major-stat:not(:last-of-type):after {
        display: inline;
    }

    span .stat-title {
        font-weight: bold;
        margin-right: 0.25em;

        &.ability-name {
            text-transform: capitalize;
        }
    }

    .rollable label {
        cursor: pointer;
    }
}

#token-hud {
    .status-effects {
        width: 175px;
        grid-template-columns: 35px 35px 35px 35px 35px;

        .effect-control {
            width: 34px;
            height: 34px;
            opacity: 0.4;
        }

        .pf2e-effect-control {
            width: 34px;
            height: 34px;
            margin: 0;
            padding: 0;
            border: none;
            opacity: 0.4;

            &:hover {
                opacity: 0.75;
            }

            &.active {
                opacity: 1;
            }

            &.overlay {
                opacity: 1;
                border: 1px solid #ff6400;
            }
        }
    }

    .pf2e-effect-img-container {
        position: relative;
        text-align: center;
        color: white;
    }

    .pf2e-effect-value {
        position: absolute;
        top: -1px;
        right: -1px;
        font-size: 13px;
        line-height: 1em;
        border-radius: 50%;
        width: 1.1em;
        height: 1.1em;
        background: #fff;
        border: 0.1em solid darkred;
        color: #111;
        text-align: center;
        font-weight: bold;
    }
}

.dice-total-shield-btn.shield-activated {
    background-color: #333;
    color: white;
}

.message-content .dice-roll {
    .statuseffect-message {
        word-break: normal;
        font-weight: 400;
        font-size: 12px;
        text-align: left;

        ul {
            list-style-type: none;
        }

        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 24px;

            &:not(:last-child) {
                margin-bottom: 3px;
            }

            img {
                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin-right: 3px;
            }
        }
    }

    .statuseffect-li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .statuseffect-li-text {
        display: inline-block;
        width: 200px;
    }

    .statuseffect-rules {
        visibility: hidden;
        width: 264px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        bottom: 110%;
        left: -42px;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        background: url("../assets/sheet/parchment.webp") repeat;
        border: 1px solid #999;
        border-radius: 3px;
        box-shadow: 0 0 3px #fff inset;
        opacity: 0;
        transition: opacity 1s;

        p {
            margin: 0;
        }
    }
}

.statuseffect-li-text:hover + .statuseffect-rules {
    visibility: visible;
    opacity: 1;
}

.status-effects .status-effect-summary {
    visibility: hidden;
    width: 174px;
    padding: 3px;
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    box-sizing: content-box;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 15px #000;
    border: 1px solid #333;
    border-radius: 4px;

    &.active {
        visibility: visible;
    }
}

input[type="number"] {
    width: calc(100% - 2px);
    min-width: 20px;
    height: 26px;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    color: #191813;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    border: 1px solid #7a7971;
    border-radius: 3px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.dice-roll .dice-tooltip.dmg-tooltip span {
    font-size: 10px;

    &:not(:first-child) {
        display: block;
        border-top: 1px;
        border-top-color: #999;
        border-top-style: solid;
    }
}

.npc-title-bar .creature-adjustment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 1em;

    * {
        width: 100%;
    }
}

.sheet-header .creature-adjustment, .npc-title-bar .creature-adjustment a.hidden {
    font-size: 12px;
}

.sheet-header .creature-adjustment a, .npc-title-bar .creature-adjustment a.hidden {
    margin-left: 1px;
    background-color: var(--secondary-background);
    border-color: #bbb68f;
}

.sheet-header .creature-adjustment a.active, .npc-title-bar .creature-adjustment a.hidden {
    margin-left: 1px;
    background-color: #5e0000;
    border-color: #bbb68f;
}

.sheet-header .creature-adjustment a.hidden, .npc-title-bar .creature-adjustment a.hidden {
    display: none;
}

.activity-icon {
    display: inline !important;
    margin: 0;
    padding: 0;
    font-family: Pathfinder2eActions;
    font-size: 1.2em;
}

.recall-knowledge-table {
    th {
        padding: 5px 8px;
    }

    td {
        text-align: center;
        padding: 5px 8px;

        &:first-child {
            text-align: right;
        }
    }

    th:first-child {
        text-align: right;
    }
}

button {
    &:hover {
        box-shadow: 0 0 3px #c00;
    }

    &:active {
        box-shadow: 0 0 5px red;
    }
}
